<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
    	http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 扫描springMvc的controller -->
    <context:component-scan base-package="com.cy"/>
    <mvc:annotation-driven conversion-service="conversionService">
        <!-- RequestMappingHandlerAdapter的List<HttpMessageConverter<?>> messageConverters,register-defaults为true时在原来的list之前按顺序插入配置中的值，为fase时，直接替换原来的默认值 -->
        <mvc:message-converters register-defaults="true">
            <!-- 将StringHttpMessageConverter的默认编码设为UTF-8. -->
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <constructor-arg value="UTF-8"/>
            </bean>
            <bean class="com.cy.common.messageConverter.EncryptJsonMessageConverter"/>
        </mvc:message-converters>
        <mvc:argument-resolvers>
            <bean class="com.cy.common.resolver.FormModelMethodArgumentsResolver"/>
        </mvc:argument-resolvers>
    </mvc:annotation-driven>

    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="com.cy.common.converter.DateConverter" />
                <bean class="com.cy.common.converter.EnumConverter" />
            </set>
        </property>
    </bean>

    <mvc:interceptors>
        <bean class="com.cy.common.interceptor.AllIntercept"/>
    </mvc:interceptors>

    <!--
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <list>
                <ref bean="mappingJackson2HttpMessageConverter"/>
            </list>
        </property>
    </bean>
    <bean id="mappingJackson2HttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>
    -->

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
    </bean>

    <!--form-data 数据解析器 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="200000000"/>
        <property name="maxInMemorySize" value="4096" />
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>

    <!-- 全局异常处理 -->
    <bean class="com.cy.common.resolver.GlobalExceptionResolver"/>

</beans>